body {
  font-family: var(--font-sans);
  background-color: var(--color-bg);
  background-image: linear-gradient(var(--color-grid) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-grid) 1px, transparent 1px);
  background-size: 32px 32px;
  color: var(--color-text);
  line-height: var(--line-height);

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 48px 40px;
}
